body{
    padding: 0;
    margin: 0;
}

.contaclist-list-header-add-icon{
    position: absolute;
    margin: 0;
    margin-bottom: 10px;
}

.fluid-container{
    height: 10px;
}


.heading{
    margin-top: 30px
}