/* * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} */

body {
  background: rgb(237, 233, 233);
  margin: 0.2rem;
  padding:1rem;
  font-family: Arial, Helvetica, sans-serif;
}

.header{
  padding: 30px, 20px;
  background-color: rgb(244, 249, 248);
  display:flexbox;
}


.links {
  /* align-items: center; */
  float:right;
  justify-content:space-around;
  color: rgb(8, 0, 0);
  /* text-align: center; */
  padding: 4rem;
  text-decoration:solid;
  font-size: 20px;
}


.header .links :hover {
  background-color: #ddd;
  color: black;
}


/* @media screen and (max-width: 800px) {
  .header .links:not(:first-child) {display: none;}
  .header .icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 800px) {
  .header .responsive {position: relative;}
  .header .responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
} */

footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

footer p {
  color: #ccc;
}

.active{
  border-radius: 20%;
  border-width: 10px;
}

.picslides{
  padding: 2rem;
  object-fit: contain;
}

.events{
  overflow: hidden;
  height: 100vh;
  width:100vw;
  background-color: #aaa704;
  padding: 20rem;
  justify-content: center;
}

.carousel{
  width: 60%;
  height: 700px;
  background-color: rgb(255, 254, 254);
}

.church-projects{
  display: flex;
  padding: 1rem;
  background-color: rgb(226, 161, 161);
  max-width: 100%;
  height: auto;
}

.space-pics{
  padding: 0.5rem;
  width: fit-content;
}

.img{
  max-width: 100%;
  height: auto;
}

h2{
  text-align: center;
}

.about-us{
  text-align: center;
}