<%- include("partials/header") -%>
    <h1> Compose </h1>
    
    <form action="/compose" method="post">
        <input type="text" value="" name="Publish">
        <button name="Publish" type="submit">Publish</button>
    </form>
</div>


<%- include("partials/footer") -%>