<!-- we use the include to add our styles to whatever page we want it can be either the header or the footer-->
<%- include("partials/header") -%>

<h1> Home </h1>
<!-- this only passes the stuff that is stored in our app.js content -->
 <p> <%=homeContent%> </p>

<!-- this loops thru our array posts in app.js then taps into the object and logs the only the  post title using foreach method to loop thru an array -->

<%publishedPost.forEach(function(posts){%>
    <%console.log(posts.post)%>
<%})%>

<%- include("partials/footer") -%>
