

.App-header {
  background-color: #0c54e4;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

header {
  background-color: #f5ba13;
  margin: auto -16px;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  text-align: center;
}

header h1{
  font-size: 40px;
}

.alert{
  width: 250px;
  margin-top: 2rem;
  margin-left: 15%;
  box-shadow: 0 0 10px 0 rgba(246, 3, 3, 0.3);
}

.budget{
  display:flex;
}

.created-items{
  display: flexbox;
}

.list{
  text-align: center;
} 