
body {
    font-family: "Montserrat";
    text-align: center;
}

.top-container{
    padding: 70px;
    background-color: #c3d9d9;
    text-align: center;
}

.afri{
    padding-top: 50px;
    
}

/* Containers */

.container-fluid{
    padding: 5% 10%;
  }
