
body {
    font-family: "Montserrat";
    /* display: flex; */
}

.top-container{
    padding: 100px;
    background-color: #c3d9d9;
}

.afri{
    display: block;
    width: 40%;
    height: auto;
    
}

/* Containers */

.container-fluid{
    padding: 1rem;
}


.search{
    padding-left: 40px;
}
